@charset "utf-8";
a,a:link,a:visited {color:white;text-decoration:none;}

body {
  line-height:25px;
  background:#191919;
  color:#ccc;
  font-family:"Lucida Sans Unicode","Lucida Grande",Garuda,sans-serif;
  font-size:14px;
  font-weight:100;
}

h1,h2,h3,h4,h5,.entry-title {color:white;}


.content {
	text-align: center;
	/* [disabled]width: 300px; */
	margin-top: 25px;
}
.header {
	margin: 0 auto;
	width: 300px;
}
img.center {
	display: block;   
	margin-left: auto;   
	margin-right: auto; }
.container {
	position:relative;
	/* [disabled]width:0px; */
	overflow: hidden;
	margin: 0 auto;
	margin-bottom: 0px;







.smaller {font-size:13px;	padding-bottom: 0px;
	padding-bottom: 0px;
}
